:root {
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(to top ,#8A2BE2 20%,  white);
    font-size: 65%;
}
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Jazz LET, fantasy;
}
h1 {
    font-size: 5.2rem;
}
h2 {
    font-size: 4.5rem;
    text-decoration: underline;
    padding-top: 2rem;
}
div {
    font-size: 3.2rem;
}
/* page content styles */
.container {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}
.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.centerText {
    text-align: center;
}

.text {
    font-size: 3.2rem;
}
.btn {
    font-size: 1.9rem;
    padding:1rem 0;
    width: 20rem;
    height: 5rem;
    border-radius: 30px;
    background: linear-gradient(to top ,#8A2BE2 20%,  white);
}

.timer {
position: absolute;
top: 0;
right:0;
padding-right: 10px;
font-size: 3rem;
}
.highscore {
    font-size: 3rem;
}

.hidden {
    display: none;
}
.option {
    border-radius: 10px;
    width: 22rem;
    height: 3rem;
    background: linear-gradient(to top ,#8A2BE2 20%,  white);
    margin:5px;
}

.questions-content{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    font-size: 3.2rem;
    text-align: center;  
}
.option-contatiner {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
}

/* Highscore Css styles */
input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    border-radius: 3rem;
    border:none;
}
.savebtn {
    background: linear-gradient(to top ,#8A2BE2 20%,  white);
    color:black;
    border-radius: 26rem;
    width: 18rem;
    height: 4rem;
    font-size: 2rem;
    margin: 3px;
}