html {
    min-height: 100%;
    background: linear-gradient(to top ,#8A2BE2 20%,  white)

}
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Jazz LET, fantasy;
}
body {
    width: 100vw;
    height: 100vh;
}
.container {
    position: absolute;
    left:32%;
    bottom: 45%;
    width: 430px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

/* button {
    border-radius: 10px;
    width: 113px;
    height: 27px;
    background-color: blueviolet;
} */
.btn {
    font-size: 1.6rem;
    padding:1rem 0;
    width: 11rem;
    height: 5rem;
    border-radius: 30px;
    background-color: blueviolet;
}
button {
    border-radius: 10px;
    width: 22rem;
    height: 2rem;
    background-color: blueviolet;
    margin:5px;
}
.timer {
position: absolute;
top: 0;
right:0;
padding-right: 10px;
}